<h1>Sign up</h1><p>it's as easy as 1,2,3</p>

<form action="/users/create">
	<label>First Name:</label>
	<input type="text" name="first_name">
	<label>Last Name:</label>
	<input type="text" name="last_name">
	<br></br>
	<br>
	<label>Choose a Login:</label>
	<input type="text" name="login">
	<label>Choose a Password:</label>
	<input type="password" name="pwd">
	<br>
<h2>Now tell us a little more about yourself:</h2>
<br>

<label>What's your annual income?</label>
<input type="number" name="income">
<label>What's your total net worth?</label>
<input type="number" name="net">
<input type="submit">
</form>