<h1>Add a new vendor to our database</h1>
<form action="/Vendor/Create">
  <div class="form-group">
    <label>Enter vendor name:</label>
    <input name="vendor" type="text" class="form-control input-md" placeholder="Example: Amazon">
  </div>

  <button type="submit" class="btn btn-success btn-md">Submit</button>
  or
  <a href="/Transactions">Cancel</a>

 </form>
