<h1>Account Dashboard</h1>
 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
			<h3>Monthly Budget <small>How much more you can spend this month</small></h3>
			<div class="thumbnail">
			<img data-src="holder.js/300x200" alt="...">
			<div class="caption">
			<div class="panel panel-default">
				<div class="panel-body">Total Budget: $XXX</div>
				<div class="panel-body">
					Amount Spent: $XXX
				</div>
				<div class="panel-heading">
					<strong>Amount Remaining: $XXX</strong>
				</div>
				</div>
			</div>
			</div>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			<div class="alert alert-warning">You've spent too much this month!</div>
		</div>
		<div class="col-md-6">
			<h3>Spending Details</h3>
			<div class="thumbnail">
			<img data-src="holder.js/300x200" alt="...">
			<div class="caption">
			<table class="table">
				<tr>
					<th>Category</th>
					<th>(+/-) Budget</th>
				</tr>
				<tr>
					<td>Category 1</td>
					<td>$XXX</td>
				</tr>
				<tr class="danger">
					<td>Category 2</td>
					<td>($XXX)</td>
				</tr>
			</table>
			</div>
			</div>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
	
      <hr>

      <footer>
        <p>&copy; SaveMore 2013</p>
      </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
