<h1>Obtain Real Time Stock Information:</h1>

<form action="/stocksearch" class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input type="text" name="ticker" class="form-control" placeholder="Ticker (e.g. GOOG)">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
 </form>